h1,h2,h4,h3,p,label {
    color: #0c1231 !important;
    font-family: sans-serif;
}

.contenedor{
    background: radial-gradient(#C4DAFA 10%,#adc0dd 60%,#9eb0ca) !important;
} 

.form-select ,.form-control{
    background-color: transparent;
    color: #0c1231;
    border: none;
    box-shadow: 0 0 3px #253794;
}

.form-select:hover ,.form-control:hover{
    box-shadow: 0 0 10px #253794;
    transition: .5s;
}

option{
    color: #0c1231;
}

.buttom_procesar{
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 7px;
    border:none;
    box-shadow: 0 0 3px #253794;
    color: #0c1231;
    transition: 0.4s;
    text-decoration: none;
}

.buttom_procesar:hover{
    background-color: #253794;
    color: #0c1231;
    transition: 0.4s;
    box-shadow: 0 0 10px #253794;
}

.descargar{
    text-decoration: none;
    color: #0c1231;
}

textarea{
    color:#0c1231;
    background-color: transparent;
    border:none;
    box-shadow: 0 0 5px 1px #253794;
    width: 100%;
    min-height: 120px;
}

.deco{
    min-height: 352px;
}


::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

::-webkit-scrollbar-thumb {
    background-color: transparent;
    box-shadow: 0 0 1px 1px #253794;
    border-radius: 3px;
  }