
.pixelify-sans-pixel {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.doto-pixel2 {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
}


h1,h2,h4,h3,p,label {
    color: #fff !important;
}

.contenedor{
    background: linear-gradient(to bottom, rgba(21, 132, 211, 0.86),rgb(62, 170, 248)6) !important;
} 

.form-select ,.form-control{
    background-color: transparent;
    color: #fff;
    border: none;
    box-shadow: 0 0 3px #dddf;
}

.form-select:hover ,.form-control:hover{
    box-shadow: 0 0 10px #dddf;
    transition: .5s;
}

option{
    color: #000000;
}

.buttom_procesar{
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 7px;
    border:none;
    box-shadow: 0 0 3px #dddf;
    color: #fff;
    transition: 0.4s;
    text-decoration: none;
}

.buttom_procesar:hover{
    background-color: #dddf;
    color: #0c1231;
    transition: 0.4s;
    box-shadow: 0 0 10px #dddf;
}

.descargar{
    text-decoration: none;
    color:aliceblue;
}

textarea{
    color:#fff;
    background-color: transparent;
    border:none;
    box-shadow: 0 0 5px 1px #fffd;
    margin: 0 2px !important;
    width: 95%;
    min-height: 120px;
    transition: 0.4s;
    background: linear-gradient(rgba(255, 255, 255, 0.100),rgba(255,255,255,0.100));
}


::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
::-webkit-scrollbar-thumb {
    background-color: transparent;
    box-shadow: 0 0 1px 1px #fffd;
    border-radius: 3px;       /* roundness of the scroll thumb */
  }

.fieldset-custom {
    border: 2px solid rgba(255, 255, 255, 0.195);
    border-radius: 8px;
    padding: 1.5rem;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.100),rgba(255,255,255,0.100));
    transition: 0.4s;
}

.fieldset-custom:hover{
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.195);
    transition: 0.4s;
}

textarea:hover{
    box-shadow: 0 0 20px #fffd;
    transition: 0.4s;
}

legend {
    font-family: sans-serif;
    float: none;
    width: auto;
    padding: 0 10px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-bottom: 0;
}

.ocultar{
    display: none !important;
    color: red !important;
}

* {
	padding: 0;
	margin: 0;
}
svg {
  position: fixed; /* fijarlo al fondo */
  top: 0;
  left: 0;
  width: 100vw;  /* ancho completo de la ventana */
  height: 100vh; /* alto completo de la ventana */
  box-sizing: border-box;
  display: block;
  z-index: -1;  /* detrás del contenido */
  background-color: #0163a9;
  background-image: linear-gradient(to bottom, rgba(21, 132, 211, 0.86), rgba(62, 170, 248, 0.6));
}

